<!-- cabezera -->
<%- include('template/cabezera', {tituloWeb:'index'}) %>

    <h1 class="text-primary">Titulo de mi sitio web index</h1>
    <h2><%=titulo %></h2>

    <!-- footer -->
<%- include('template/footer')%>